.latest-vehicles-added-container {
	margin: 1rem;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

@media screen and (width > 750px) {
	.list-last-vehicles-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
	}
}

.latest-vehicles-added-article {
	border: 2px solid #989898;
	width: 8rem;
	border-radius: 1rem;
	margin: 0 auto;
	padding: .4rem .5rem;
}

@media screen and (width > 750px) {
	.latest-vehicles-added-article {
		width: 10rem;
	}
}

.latest-vehicles-added-image {
	width: 100%;
	height: auto;
	border-radius: .6rem;
}

.latest-vehicles-added-infos {
	display: flex;
	flex-direction: column;
	width: fit-content;
	justify-content: space-between;
}

@media screen and (width > 700px) {
	.latest-vehicles-added-infos {
		height: 100%;
	}
}

.link-to-fullcard-vehicle {
	text-decoration: none;
	width: fit-content;
}

.latest-vehicles-added-button {
	background-color: var(--main-red-color);
	color: var(--white-text-color);
	border: none;
	margin: 0 auto;
	padding: .5rem 2rem;
	border-radius: .5rem;
	cursor: pointer;
	margin-top: 1rem;
	margin-top: auto;
}

@media screen and (width > 800px) {
	.latest-vehicles-added-button {
		font-size: .8rem;
	}
}

.latest-vehicles-added-title {
	font-size: .9rem;
}

.latest-vehicles-added-price {
	font-size: .9rem;
	font-weight: 100;
}

.list-last-vehicles-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
