.latest-vehicles-added-container {
	margin: 1rem;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

@media screen and (width > 750px) {
	.list-last-vehicles-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
	}
}

.latest-vehicles-added-article {
	border: 2px solid #989898;
	width: 90%;
	border-radius: 1rem;
	overflow: hidden;
	display: flex;
	gap: 1rem;
	margin: 0 auto;
	padding: .5rem;
}

@media (width > 700px) {
	.latest-vehicles-added-article {
		width: 18rem;
		margin: 0;
	}
}

@media (width > 800px) {
	.latest-vehicles-added-article {
		width: 16rem;
		margin: 0;
	}
}

.latest-vehicles-added-image {
	width: 40%;
	height: auto;
	border-radius: .6rem;
}

.latest-vehicles-added-infos {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.link-to-fullcard-vehicle {
	text-decoration: none;
}

.latest-vehicles-added-button {
	background-color: var(--main-red-color);
	color: var(--white-text-color);
	border: none;
	margin: 0 auto;
	padding: .5rem 2rem;
	border-radius: .5rem;
	cursor: pointer;
	margin-top: 1rem;
	margin-top: auto;
}

.latest-vehicles-added-title {
	font-size: .9rem;
}

.latest-vehicles-added-price {
	font-size: .9rem;
	font-weight: 100;
}

.list-last-vehicles-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
